<div class='lead col-sm-8 col-sm-offset-2'>
  <p>
    Machine Learning is an outgrowth of 'simple' pattern recognition. It is
    capable of rapidly finding patterns with immense numbers of parameters and in immense data sets.
  </p>
  <p>
    JavaScript is not one of the languages traditionally associated with Machine
    Learning, and at production scale, there are good reasons for this. However,
    as an introduction to the concepts, it is perfectly suitable.
  </p>
</div>
<div class='examples'>
  <div class='' >
    <div class='example col-sm-8 col-sm-offset-2' ng-repeat='item in home.list'>
      <example></example>
    </div>

  </div>
</div>
